/*TODO: Add a background color or image to your website*/
body {
 background-color: #008080; 
}
body{
  background-image:https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fflowers&psig=AOvVaw1kb7LXcElA-LpuJc1Nl4ln&ust=1595428759988000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCb3bbJ3uoCFQAAAAAdAAAAABAD
}

h1 {
  color: purple;
}

.navbar {
  
} 
/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */




/*TODO: Use the * selector to reset the margin and padding to 0px*/
*{
  margin: 0px;
  padding:0px;
}




/*TODO: Add styling rules for the text and images on your website.*/




/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 